In [2]:
import pandas as pd
from pathlib import Path

In [3]:
sales_path = Path("data\\sales\\sales.csv")
sales_df = pd.read_csv(sales_path)

C:\Users\Panchi\AppData\Local\Temp\ipykernel_11720\386471310.py:2: DtypeWarning: Columns (10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sales_df = pd.read_csv(sales_path)

In [4]:
product_path = Path("data\\product_hierarchy.csv")
prod_df = pd.read_csv(product_path)

In [5]:
sales_df["date"] = pd.to_datetime(sales_df["date"], format="%Y-%m-%d")

In [6]:
date_range = pd.date_range(start=pd.to_datetime("2017-01-02"), end=pd.to_datetime("2017-05-28"))

In [7]:
sales_df["date"].isin(date_range)

0            True
1            True
2            True
3            True
4            True
            ...
19454833    False
19454834    False
19454835    False
19454836    False
19454837    False
Name: date, Length: 19454838, dtype: bool

In [8]:
date_range_filt = sales_df["date"].isin(date_range)

hierarchy_filt = prod_df["hierarchy1_id"] == "H01"
prod_hierarchy_filt = prod_df.loc[hierarchy_filt]["product_id"]
prod_filt = sales_df["product_id"].isin(prod_hierarchy_filt)

prodsales_filt = (date_range_filt & prod_filt)

In [9]:
sales_df.loc[prodsales_filt].agg({"sales":"sum", "revenue":"sum"}).to_dict()

{'sales': 106111.0, 'revenue': 1118186.9899999995}

---

In [10]:
prodid = "P0001"

In [32]:
sales_prodid = sales_df["product_id"] == prodid
prod_prodid = prod_df["product_id"]==prodid

In [35]:
prod_vol = prod_df.loc[prod_prodid]["product_length"]*prod_df.loc[prod_prodid]["product_depth"]*prod_df.loc[prod_prodid]["product_width"]

In [36]:
sales_df.loc[sales_prodid][["sales", "stock"]]

          sales  stock
0           0.0    8.0
1           1.0    0.0
2           2.0    0.0
3           0.0    6.0
4           0.0    1.0
...         ...    ...
19435056    NaN    NaN
19435057    NaN    NaN
19435058    NaN    NaN
19435059    NaN    NaN
19435060    NaN    NaN

[23965 rows x 2 columns]

In [113]:
sales_stock = sales_df.loc[(date_range_filt & sales_prodid)].agg({"sales":"sum", "stock":"sum"})

In [111]:
{"Total sales volume":prod_vol[1]*sales_stock[0],"Total stock volume":prod_vol[1]*sales_stock[1:2][0]}

{'Total sales volume': 986040.0, 'Total stock volume': 71784900.0}