In [135]:
import pandas as pd

In [166]:
# simulated user input (GET request)
hierarchy_user_input = "H00"
start_date = "2017-03-01"
end_date = "2017-05-01"
city_id = "C014"

In [35]:
sales_path = "data\\sales\\sales.csv"
prod_hier_path = "data\\product_hierarchy.csv"
store_cities_path = "data\\store_cities.csv"

In [80]:
# d_parser = lambda x: pd.datetime.strptime(x, "%Y-%m-%d")
# sales_df = pd.read_csv(sales_path, parse_dates=["date"], date_parser=d_parser)
sales_df = pd.read_csv(sales_path)
prod_hier_df = pd.read_csv(prod_hier_path)
store_cities_df = pd.read_csv(store_cities_path)

C:\Users\Panchi\AppData\Local\Temp\ipykernel_12668\3165269735.py:3: DtypeWarning: Columns (10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sales_df = pd.read_csv(sales_path)

In [144]:
sales_df["date"] = pd.to_datetime(sales_df["date"], format="%Y-%m-%d")

# visualization
sales_df["date"]

0          2017-01-02
1          2017-01-02
2          2017-01-02
3          2017-01-02
4          2017-01-02
              ...
19454833   2019-12-29
19454834   2019-12-29
19454835   2019-12-29
19454836   2019-12-29
19454837   2019-12-29
Name: date, Length: 19454838, dtype: datetime64[ns]

- Total Sales quantity and revenue for Specific product **hierarchy1_id** and specified **date** range. Returns a single row.
  - input
    - hierarchy1_id (product_hierarchy.csv) -> product_id (sales.csv)
    - date (sales.csv)
  - output
    - sales (sales.csv)
    - revenue (sales.csv)

In [142]:
# Group
# hier_grp = prod_hier_df.groupby(["hierarchy1_id"])
# hier_grp.get_group("H00")
# prod_hier_df.groupby(["hierarchy1_id"]).get_group(hierarchy_user_input)["product_id"]

# hierarchy_id filter applied to product_id
hier_filt = prod_hier_df["hierarchy1_id"] == hierarchy_user_input
prod_hier_filt = prod_hier_df.loc[hier_filt]["product_id"]

# visualization
prod_hier_df.loc[hier_filt]["product_id"]

0      P0000
7      P0008
8      P0009
14     P0015
15     P0016
       ...
672    P0719
676    P0724
677    P0725
678    P0726
685    P0733
Name: product_id, Length: 215, dtype: object

In [167]:
# Date range from user
date_range = pd.date_range(start=pd.to_datetime(start_date), end=pd.to_datetime(end_date))

# visualization             
pd.date_range(start=pd.to_datetime(start_date), end=pd.to_datetime(end_date))

DatetimeIndex(['2017-03-01', '2017-03-02', '2017-03-03', '2017-03-04',
               '2017-03-05', '2017-03-06', '2017-03-07', '2017-03-08',
               '2017-03-09', '2017-03-10', '2017-03-11', '2017-03-12',
               '2017-03-13', '2017-03-14', '2017-03-15', '2017-03-16',
               '2017-03-17', '2017-03-18', '2017-03-19', '2017-03-20',
               '2017-03-21', '2017-03-22', '2017-03-23', '2017-03-24',
               '2017-03-25', '2017-03-26', '2017-03-27', '2017-03-28',
               '2017-03-29', '2017-03-30', '2017-03-31', '2017-04-01',
               '2017-04-02', '2017-04-03', '2017-04-04', '2017-04-05',
               '2017-04-06', '2017-04-07', '2017-04-08', '2017-04-09',
               '2017-04-10', '2017-04-11', '2017-04-12', '2017-04-13',
               '2017-04-14', '2017-04-15', '2017-04-16', '2017-04-17',
               '2017-04-18', '2017-04-19', '2017-04-20', '2017-04-21',
               '2017-04-22', '2017-04-23', '2017-04-24', '2017-04-25',
               '2017-04-26', '2017-04-27', '2017-04-28', '2017-04-29',
               '2017-04-30', '2017-05-01'],
              dtype='datetime64[ns]', freq='D')

In [170]:
# Filters

# date_range_filt = (sales_df["date"] >= pd.to_datetime(start_date)) & (sales_df["date"] <= pd.to_datetime(end_date))
date_range_filt = sales_df["date"].isin(date_range)
sales_prod_filt = sales_df["product_id"].isin(prod_hier_filt)
prod_sales_filt = (date_range_filt & sales_prod_filt)

In [171]:
# filtered data
sales_df.loc[prod_sales_filt].agg({"sales":"sum", "revenue":"sum"})

sales      419802.192
revenue    870283.091
dtype: float64

- input
  - hierarchy_user_input = "H01"
  - start_date = "2017-01-01"
  - end_date = "2017-02-28"
- output
  - sales       50073.00
  - revenue    585702.71

---

- Total Sales quantity and revenue for Specific **city id** and specified **date** range. Returns a single row.
  - input
    - city_id (store_cities.csv)
    - date (sales.csv)
  - output
    - sales (sales.csv)
    - revenue (sales.csv)

In [159]:
# city_id filter applied to store_id
city_filt = store_cities_df["city_id"] == city_id
store_filt = store_cities_df.loc[city_filt]["store_id"]

# visualization
store_cities_df.loc[city_filt]["store_id"]

6      S0095
7      S0055
8      S0099
15     S0059
21     S0097
       ...
122    S0022
124    S0058
126    S0143
127    S0039
136    S0050
Name: store_id, Length: 32, dtype: object

In [168]:
# Filters
date_range_filt = sales_df["date"].isin(date_range)
store_filt = sales_df["store_id"].isin(store_filt)
# store_sales_filt = (date_range_filt & store_cities_df)

In [169]:
sales_df.loc[(date_range_filt & store_filt)].agg({"sales":"sum", "revenue":"sum"})

sales      0.0
revenue    0.0
dtype: float64

- input
  - start_date = "2017-01-01"
  - end_date = "2017-02-01"
  - city_id = "C014"
- output
  - sales       84608.205
  - revenue    383154.190

  ---