In [3]:
import pandas as pd

In [3]:
# simulated user input (GET request)
hierarchy_user_input = "H00"
start_date = "2017-03-01"
end_date = "2017-05-01"
city_id = "C014"

In [1]:
sales_path = ".\\..\\data\\sales\\sales.csv"
prod_hier_path = ".\\..\\data\\product_hierarchy.csv"
store_cities_path = ".\\..\\data\\store_cities.csv"

In [4]:
# d_parser = lambda x: pd.datetime.strptime(x, "%Y-%m-%d")
# sales_df = pd.read_csv(sales_path, parse_dates=["date"], date_parser=d_parser)
sales_df = pd.read_csv(sales_path)
prod_hier_df = pd.read_csv(prod_hier_path)
store_cities_df = pd.read_csv(store_cities_path)

C:\Users\Panchi\AppData\Local\Temp\ipykernel_7272\3165269735.py:3: DtypeWarning: Columns (10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sales_df = pd.read_csv(sales_path)

In [6]:
sales_df["date"] = pd.to_datetime(sales_df["date"], format="%Y-%m-%d")

# visualization
sales_df["date"]

0          2017-01-02
1          2017-01-02
2          2017-01-02
3          2017-01-02
4          2017-01-02
              ...
19454833   2019-12-29
19454834   2019-12-29
19454835   2019-12-29
19454836   2019-12-29
19454837   2019-12-29
Name: date, Length: 19454838, dtype: datetime64[ns]

- Total Sales quantity and revenue for Specific product **hierarchy1_id** and specified **date** range. Returns a single row.
  - input
    - hierarchy1_id (product_hierarchy.csv) -> product_id (sales.csv)
    - date (sales.csv)
  - output
    - sales (sales.csv)
    - revenue (sales.csv)

In [40]:
prod_hier_df["hierarchy1_id"] == "H01"

0      False
1       True
2      False
3      False
4      False
       ...
694    False
695    False
696    False
697     True
698     True
Name: hierarchy1_id, Length: 699, dtype: bool

In [7]:
# Group
# hier_grp = prod_hier_df.groupby(["hierarchy1_id"])
# hier_grp.get_group("H00")
# prod_hier_df.groupby(["hierarchy1_id"]).get_group(hierarchy_user_input)["product_id"]

# hierarchy_id filter applied to product_id
hier_filt = prod_hier_df["hierarchy1_id"] == hierarchy_user_input
prod_hier_filt = prod_hier_df.loc[hier_filt]["product_id"]

# visualization
prod_hier_df.loc[hier_filt]["product_id"]

0      P0000
7      P0008
8      P0009
14     P0015
15     P0016
       ...
672    P0719
676    P0724
677    P0725
678    P0726
685    P0733
Name: product_id, Length: 215, dtype: object

In [8]:
# Date range from user
date_range = pd.date_range(start=pd.to_datetime(start_date), end=pd.to_datetime(end_date))

# visualization             
pd.date_range(start=pd.to_datetime(start_date), end=pd.to_datetime(end_date))

DatetimeIndex(['2017-03-01', '2017-03-02', '2017-03-03', '2017-03-04',
               '2017-03-05', '2017-03-06', '2017-03-07', '2017-03-08',
               '2017-03-09', '2017-03-10', '2017-03-11', '2017-03-12',
               '2017-03-13', '2017-03-14', '2017-03-15', '2017-03-16',
               '2017-03-17', '2017-03-18', '2017-03-19', '2017-03-20',
               '2017-03-21', '2017-03-22', '2017-03-23', '2017-03-24',
               '2017-03-25', '2017-03-26', '2017-03-27', '2017-03-28',
               '2017-03-29', '2017-03-30', '2017-03-31', '2017-04-01',
               '2017-04-02', '2017-04-03', '2017-04-04', '2017-04-05',
               '2017-04-06', '2017-04-07', '2017-04-08', '2017-04-09',
               '2017-04-10', '2017-04-11', '2017-04-12', '2017-04-13',
               '2017-04-14', '2017-04-15', '2017-04-16', '2017-04-17',
               '2017-04-18', '2017-04-19', '2017-04-20', '2017-04-21',
               '2017-04-22', '2017-04-23', '2017-04-24', '2017-04-25',
               '2017-04-26', '2017-04-27', '2017-04-28', '2017-04-29',
               '2017-04-30', '2017-05-01'],
              dtype='datetime64[ns]', freq='D')

In [9]:
# Filters

# date_range_filt = (sales_df["date"] >= pd.to_datetime(start_date)) & (sales_df["date"] <= pd.to_datetime(end_date))
date_range_filt = sales_df["date"].isin(date_range)
sales_prod_filt = sales_df["product_id"].isin(prod_hier_filt)
prod_sales_filt = (date_range_filt & sales_prod_filt)

In [42]:
# filtered data
# sales_df.loc[prod_sales_filt].agg({"sales":"sum", "revenue":"sum"})
sales_df.loc[date_range_filt & sales_prod_filt].agg({"sales":"sum", "revenue":"sum"}).to_dict()

{'sales': 419802.192, 'revenue': 870283.091}

- input
  - hierarchy_user_input = "H01"
  - start_date = "2017-01-01"
  - end_date = "2017-02-28"
- output
  - sales       50073.00
  - revenue    585702.71

---

- Total Sales quantity and revenue for Specific **city id** and specified **date** range. Returns a single row.
  - input
    - city_id (store_cities.csv)
    - date (sales.csv)
  - output
    - sales (sales.csv)
    - revenue (sales.csv)

In [11]:
# city_id filter applied to store_id
city_filt = store_cities_df["city_id"] == city_id
store_filt = store_cities_df.loc[city_filt]["store_id"]

# visualization
store_cities_df.loc[city_filt]["store_id"]

6      S0095
7      S0055
8      S0099
15     S0059
21     S0097
26     S0007
27     S0107
30     S0052
37     S0016
49     S0089
56     S0120
62     S0080
63     S0014
66     S0073
71     S0020
75     S0085
84     S0072
91     S0067
93     S0076
98     S0062
100    S0071
107    S0026
109    S0015
112    S0126
116    S0003
118    S0077
120    S0010
122    S0022
124    S0058
126    S0143
127    S0039
136    S0050
Name: store_id, dtype: object

In [12]:
# Filters
date_range_filt = sales_df["date"].isin(date_range)
store_filt = sales_df["store_id"].isin(store_filt)
# store_sales_filt = (date_range_filt & store_cities_df)

In [38]:
sales_df.loc[(date_range_filt & store_filt)].agg({"sales":"sum", "revenue":"sum"})

sales      195194.671
revenue    637961.691
dtype: float64

- input
  - start_date = "2017-01-01"
  - end_date = "2017-02-01"
  - city_id = "C014"
- output
  - sales       84608.205
  - revenue    383154.190

  ---

Total volume (using provided **product dimensions** multiplied by **quantity**) of a specific **product** for specified **date** range. Returns a single row.

- input
  - product_id
  - date
- process
  - product_length
  - product_depth
  - product_width
  - sales (quantity?)
- output
  - volume

In [14]:
int_filt = sales_df["sales"].apply(float.is_integer)

In [15]:
sales_df.loc[~int_filt, 'sales']

5335        0.530
5336        1.414
5469        2.290
5470        2.580
7270        1.695
            ...
19454833      NaN
19454834      NaN
19454835      NaN
19454836      NaN
19454837      NaN
Name: sales, Length: 1218907, dtype: float64

In [16]:
stock_filt = sales_df["stock"].apply(float.is_integer)
sales_df.loc[stock_filt, "stock"]

0            8.0
1            0.0
2            0.0
3            6.0
4            1.0
            ...
18264071    11.0
18264072     4.0
18264073     6.0
18264074     2.0
18264075    16.0
Name: stock, Length: 18237738, dtype: float64

In [17]:
sales_df["stock"].dropna().apply(float.is_integer)

0           True
1           True
2           True
3           True
4           True
            ...
18264071    True
18264072    True
18264073    True
18264074    True
18264075    True
Name: stock, Length: 18264076, dtype: bool

In [ ]:
# sales_df["stock"].dropna().apply(float.is_integer)
stock_filt2 = sales_df["stock"].dropna().apply(float.is_integer)
sales_df.loc[~stock_filt2, "stock"]

In [44]:
store_cities_df["city_id"].head().to_dict()

{0: 'C013', 1: 'C005', 2: 'C008', 3: 'C019', 4: 'C022'}

In [45]:
store_cities_df["city_id"].head().to_json()

'{"0":"C013","1":"C005","2":"C008","3":"C019","4":"C022"}'